<section class="top-right-profile flex justify-end p-4">
    <div class="flex items-center space-x-4">
    
      <div class="w-10 h-10 overflow-hidden bg-gray-300 rounded-full">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzBpnouxDuF063trW5gZOyXtyuQaExCQVMYA&usqp=CAU" alt="User Avatar" class="object-cover w-full h-full">
      </div>
  
      <div>
        <p class="font-semibold text-gray-800">John Doe</p>
        <p class="text-gray-500">john.doe@example.com</p>
      </div>
    </div>
  </section>