
<body>
    <app-navbar></app-navbar>

    <!-- Home Section Start -->
    <section class="home" id="home">
        <div class="main-text">
            <h3>Travel Around Kenya
                <br> & Explore The New Destination
            </h3>
        
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro molestias nemo, harum debitis error itaque?</p>
        <a href="#"><button id="home-btn">PACKAGES <i class="fa-solid fa-arrow-down"></i><button id="home-btn2"><i class="fa-sharp fa-solid fa-circle-play"></i></button></button></a>
    </div>
    </section>
    <!-- Home Section End -->


    <!-- Services Section Start -->
    <section class="services" id="services">
        <div class="heading">
            <h3>Services</h3>
        </div>
            <div class="card-content">

                <div class="row">
                    <i class="fas fa-globe-asia"></i>
                    <div class="card-body">
                        <h3>Around Kenya</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vero suscipit eos quam explicabo quas.</p>
                    </div>
                </div>
                <div class="row">
                    <i class="fas fa-plane"></i>
                    <div class="card-body">
                        <h3>Fastet Travel</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vero suscipit eos quam explicabo quas.</p>

                    </div>
                </div>
                <div class="row">
                    <i class="fas fa-hotel"></i>
                    <div class="card-body">
                        <h3>Affordable Hotels</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vero suscipit eos quam explicabo quas.</p>

                    </div>
                </div>
                <div class="row">
                    <i class="fas fa-bullhorn"></i>
                    <div class="card-body">
                        <h3>Safty Guide</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vero suscipit eos quam explicabo quas.</p>

                    </div>
                </div>

            </div>

       
    </section>
    <!-- Services Section End -->



    <!-- About Section Start -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="../../assets/images/about-img.png" alt="">
        </div>
        <div class="about-info">
            <h6>About us</h6>
            <h3>How Work This Travel Agency</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione odio vitae tempora nesciunt quibusdam? Delectus voluptatibus neque quod, id cumque blanditiis, suscipit temporibus ipsam aspernatur sunt voluptatem repellat corrupti amet at velit, minus reprehenderit voluptate nobis asperiores maxime deleniti quibusdam. Numquam sequi iusto consequatur obcaecati, incidunt quia accusantium perspiciatis expedita.</p>

            <button class="about-btn">Read More...</button>
        </div>
    </section>
    <!-- About Section End -->




    <!-- Gallary Section Start -->
    <section class="gallary" id="gallary">
        <div class="heading">
            <h3>OUR GALLARY <i class="fa-solid fa-arrow-down"></i></h3>
        </div>

        <div class="gallary-card">
            <div class="row">
                <img src="../../assets/images/p1.jpg" alt="">
            </div>
            <div class="row">
                <img src="../../assets/images/p2.png" alt="">
            </div>
            <div class="row">
                <img src="../../assets/images/p3.png" alt="">
            </div>
            <div class="row">
                <img src="../../assets/images/p4.png" alt="">
            </div>
            <div class="row">
                <img src="../../assets/images/p5.png" alt="">
            </div>
           

        </div>
    </section>
    <!-- Gallary Section End -->





    <!-- Packages Section Start -->
    <section class="packages" id="packages">
        <div class="main-txt">
            <h3>Packages</h3>
        </div>

        <div class="card-content">
            <div class="row">
                <img src="../../assets/images/united state.png" alt="">
                <div class="card-body">
                    <h3>Nairobi</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <div class="rating">
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                    </div>
                    <h5>Price $999</h5>
                    <button>Book Now</button>
                </div>
            </div>
            <div class="row">
                <img src="../../assets/images/jordan.png" alt="">
                <div class="card-body">
                    <h3>Diani Beach</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <div class="rating">
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                    </div>
                    <h5>Price $999</h5>
                    <button>Book Now</button>
                </div>
            </div>
            <div class="row">
                <img src="../../assets/images/china.png" alt="">
                <div class="card-body">
                    <h3>Ngong Hills</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <div class="rating">
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                    </div>
                    <h5>Price $999</h5>
                    <button>Book Now</button>
                </div>
            </div>
            <div class="row">
                <img src="../../assets/images/Mexico.png" alt="">
                <div class="card-body">
                    <h3>Maasai Mara National Reserve</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <div class="rating">
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                    </div>
                    <h5>Price $999</h5>
                    <button>Book Now</button>
                </div>
            </div>
            <div class="row">
                <img src="../../assets/images/france.png" alt="">
                <div class="card-body">
                    <h3>Amboseli</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <div class="rating">
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                    </div>
                    <h5>Price $999</h5>
                    <button>Book Now</button>
                </div>
            </div>
            <div class="row">
                <img src="../../assets/images/Greece.png" alt="">
                <div class="card-body">
                    <h3>Samburu</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <div class="rating">
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                    </div>
                    <h5>Price $999</h5>
                    <button>Book Now</button>
                </div>
            </div>
            <div class="row">
                <img src="../../assets/images/Spain.png" alt="">
                <div class="card-body">
                    <h3> Mt Kenya</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <div class="rating">
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                    </div>
                    <h5>Price $999</h5>
                    <button>Book Now</button>
                </div>
            </div>
            <div class="row">
                <img src="../../assets/images/Turkey.png" alt="">
                <div class="card-body">
                    <h3>Fourteen Falls</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <div class="rating">
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                        <i class="fa-solid fa-star checked"></i>
                    </div>
                    <h5>Price $999</h5>
                    <button>Book Now</button>
                </div>
            </div>
        </div>

    </section>
    <!-- Packages Section End -->

    <!-- Section Reviews Start -->
    <section class="reviews" id="reviews">
        <div class="main-txt">
            <h3>What Custommers Say</h3>
        </div>
        <div class="card-content">
            <div class="row">
                <h5><img src="../../assets/images/pic-1.png" alt="">Elon Musk</h5>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam a earum commodi exercitationem explicabo amet repudiandae nemo nesciunt beatae omnis.</p>

            </div>
            <div class="row">
                <h5><img src="../../assets/images/p2.png" alt="">Elon Musk</h5>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam a earum commodi exercitationem explicabo amet repudiandae nemo nesciunt beatae omnis.</p>

            </div>
            <div class="row">
                <h5><img src="../../assets/images/pic-3.png" alt="">Elon Musk</h5>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam a earum commodi exercitationem explicabo amet repudiandae nemo nesciunt beatae omnis.</p>

            </div>
        </div>
    </section>

</body>
