<app-navbar></app-navbar>
<body>
    <div class="wrapper">
      <form action="#">
        <h2>Register</h2>
        <div class="input-field">
            <input type="text" required>
            <label>Enter your Name</label>
          </div>
        <div class="input-field">
          <input type="text" required>
          <label>Enter your email</label>
        </div>
        <div class="input-field">
          <input type="password" required>
          <label>Enter your password</label>
        </div>
        <button type="submit">Register</button>
        <div class="register">
          <p>Aready have an Account?<a href="#">Login</a></p>
        </div>
      </form>
    </div>
  </body>